<h1>Welcome to Ecommerce</h1>
<p>India's top shopping site </p>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div>
        <img src = "app/assets/images/h1.jpg" width = "300px" height = "300px">
            <div>
                <h4>Philips Hair Dryer </h4>
            </div>
      </div>
    </div>
    <div class="col-md-4">
      Column
    </div>
    <div class="col-md-4">
      Column
    </div>
  </div>
</div>