<h1>Editing Cart Item</h1>

<%= render 'form', cart_item: @cart_item %>

<%= link_to 'Show', @cart_item, class: "btn btn-outline-secondary" %> 
<%= link_to 'Back', cart_items_path, class: "btn btn-outline-dark" %>
