<h1>Editing Transaction</h1>

<%= render 'form', transaction: @transaction %>

<%= link_to 'Show', @transaction, class: "btn btn-outline-secondary" %> 
<%= link_to 'Back', transactions_path, class: "btn btn-outline-dark" %>
