<h1>Editing Shipmment Item</h1>

<%= render 'form', shipmment_item: @shipmment_item %>

<%= link_to 'Show', @shipmment_item, class: "btn btn-outline-secondary" %> 
<%= link_to 'Back', shipmment_items_path, class: "btn btn-outline-dark" %>
