<h1>Editing Shipment</h1>

<%= render 'form', shipment: @shipment %>

<%= link_to 'Show', @shipment, class: "btn btn-outline-secondary" %> 
<%= link_to 'Back', shipments_path, class: "btn btn-outline-dark" %>
